{% extends 'base_detail_list.html' %}
{% block title %}天天图书-商品搜索结果列表{% endblock title %}
{% block main_content %}
	<div class="breadcrumb">
		<span>{{ query }}</span>
		<span>></span>
        <span>搜索结果如下</span>>
	</div>

	<div class="main_wrap clearfix">
        <ul class="goods_type_list clearfix">
            {% for item in page_obj %}
            <li>
                <a href="{% url 'goods:detail' item.object.spu.id item.object.id %}">
                    {% for image in item.object.goodsimage_set.all %}
                    {% if forloop.counter == 1%}
                    <img src="{{ image.image.url }}" alt="商品图片"></a>
                    {% endif %}
                    {% endfor %}
                <h4><a href="{% url 'goods:detail' item.object.spu.id item.object.id %}">{{ item.object.spu.name }}</a></h4>

                <div class="operate">
                    <span class="prize">￥{{ item.object.price }}</span>
                    <span class="unit">{{ item.object.unite }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="pagenation">
            {% if page_obj.has_previous %}
            <a href="/search?q={{ query }}&page={{ page_obj.previous_page_number }}"><上一页</a>
            {% endif %}
            {% for pindex in paginator.page_range %}
                {% if pindex == page_obj.number %}
                    <a href="/search?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                {% else %}
                    <a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="/search?q={{ query }}&page={{ page_obj.next_page_number }}">下一页></a>
            {% endif %}
        </div>
	</div>

{% endblock main_content %}
